<footer>
    <div class="footer-content">
        <div class="footer-info">
            <p>Contact & Condition d’utilisation
                2025 LocaFit - Tous droits réservés</p>
        </div>
    </div>
</footer>