
<footer>
<<<<<<< HEAD
  Contact &amp; Condition d'utilisation<br />
  2025 LocFit - Tous droits réservés
</footer>

<style>
footer {
      background: #fc593a;
      color: #fff;
      text-align: center;
      padding: 15px 0 7px 0;
      font-size: 0.96em;
      margin-top: 50px;
    }

</style>
=======
    <div class="footer-content">
        <div class="footer-info">
            <p>Contact & Condition d’utilisation
                2025 LocaFit - Tous droits réservés</p>
        </div>
    </div>
</footer>
>>>>>>> b12c70a72a9de5ff0cedc764fdbfd4a94fdd4863
