<header>
    <div class="header">
        <nav class="nav">
            <a href="#">Accueil</a>
            <a href="#">Nos Produits</a>
            <a href="#">Vos locations</a>
        </nav>
        <div class="user-info">
            <img class="avatar" src="" alt="Avatar">
            <div>
                <div class="user-name"></div>
                <div class="user-account"></div>
            </div>
        </div>
    </div>
</header>