<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css" />
  </head>

  <body>
    <header class="header">
      <div class="Logo"><img src="./img/Logo blanc sur orange.png" alt="logo Locfit"></div>
      <nav class="nav">
        <a href="/login">Login</a>
        <a href="/home">Accueil</a>
        <a href="/catalogue">Produits</a>
        <a href="/locations">Locations</a>
      </nav>
      <div class="user-info">
        <img class="avatar" src="" alt="Avatar" />
        <div>
          <div class="user-role">Rôle</div>
          <div class="user-mail">Mail</div>
        </div>
      </div>
    </header>
  </body>
</html>
