<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/inscription_agent.css">
    <title>Document</title>
</head>
<body>
     <%- include('header'); %>

    <main>
    <h1>Ajout Agent</h1>

    <form action="/inscription_agent" method="POST" enctype="multipart/form-data">
      <div class="colonnes">
        <div class="gauche">
          <input type="text" id="nom" name="nom" placeholder="Nom" required>
        </div>
        <div class="droite">
          <input type="text" id="prenom" name="prenom" placeholder="Prénom" required>
        </div>
      </div>
      <input type="email" id="email" name="email" placeholder="Email" required>
      <input type="password" id="motdepasse" name="motdepasse" placeholder="Mot de passe" required>

      <input type="submit" value="Ajouter">
    </form>
  </main>


      <%- include('footer'); %>
</body>
</html>