<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/inscription_agent.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Ajout Agent</title>
</head>
<body>
     <%- include('header'); %>

    <main>
    <h1>Ajout Agent</h1>
    
    <% if (typeof message !== 'undefined' && message) { %>
        <div class="alert-message">
            <%= message %>
        </div>
    <% } %>

    <form action="/inscription_agent" method="POST" enctype="multipart/form-data">
      
      <div class="colonnes">
        <div class="input-group">
          <input type="text" id="nom" name="nom" placeholder="Nom" required>
        </div>
        <div class="input-group">
          <input type="text" id="prenom" name="prenom" placeholder="Prénom" required>
        </div>
      </div>

      <div class="colonnes">
        <div class="input-group">
            <input type="text" name="login" placeholder="Identifiant (Login)" required>
        </div>
        <div class="input-group">
            <input type="date" name="ddn" required>
        </div>
      </div>

      <input type="email" id="email" name="email" placeholder="Email" required>
      
      <input type="password" id="password" name="password" placeholder="Mot de passe" required>

      <div class="file-wrapper">
        <label for="image" class="input-label">Photo de profil :</label>
        <input type="file" id="image" name="image" accept="image/*">
      </div>

      <input type="submit" value="Ajouter l'agent">
    </form>
  </main>

  <%- include('footer'); %>
</body>
</html>