<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Vos Locations - LocFit</title>
    <link rel="stylesheet" href="/css/locations.css" />
  </head>
  <body>
    <%- include('header'); %>

    <div class="main-title">Vos Locations</div>

    <%- include('footer'); %>
  </body>
</html>
