<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <title>Vos Locations - LocFit</title>
  <link rel="stylesheet" href="/css/locations.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
    rel="stylesheet" />
</head>

<body>
  <%- include('header') %>

    <main class="locations-container">

      <h1 class="main-title">Vos Locations</h1>

      <h2 class="row-title">Locations en attente</h2>

      <div class="product-list">

        <div class="location-card empty">
          <p>Aucune location en attente</p>
        </div>

      </div>

      <h2 class="row-title">Locations confirmées</h2>

      <div class="product-list">

        <div class="product-card">
          <h3 class="product-title">Rameur ram 500</h3>
          <div class="product-price">99.9 €...</div>
          <img src="img/TapisCourse1.jpeg" alt="Rameur ram 500" class="product-image">
          <button class="product-button">Voir détails</button>
        </div>

        <div class="product-card">
          <h3 class="product-title">Rameur ram 500</h3>
          <div class="product-price">99.9 €...</div>
          <img src="img/TapisCourse1.jpeg" alt="Rameur ram 500" class="product-image">
          <button class="product-button">Voir détails</button>
        </div>

        <div class="location-card empty">
          <p>Aucune location confirmée</p>
        </div>

      </div>

    </main>

    <%- include('footer'); %>
</body>

</html>