<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Vos Locations - LocFit</title>
    <link rel="stylesheet" href="/css/locations.css" />
  </head>
  <body>
    <%- include('headerclient') %>

    <main class="locations-container">

      <!-- locations en attente -->
      <section class="locations-row locations-pending">
        <h2 class="row-title">Locations en attente</h2>

        <div class="locations-grid">

                <div class="card">

                </div>

                <article class="location-card empty">
              <p>Aucune location en attente</p>
            </article>

        </div>
      </section>

      <!-- locations confirmées -->
      <section class="locations-row locations-confirmed">
        <h2 class="row-title">Locations confirmées</h2>

        <div class="locations-grid">

                <div class="card">

                </div>

            <article class="location-card empty">
              <p>Aucune location confirmée</p>
            </article>

        </div>
      </section>
      
    </main>

    <%- include('footer'); %>
  </body>
</html>
