<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <title>Vos Locations - LocFit</title>
  <link rel="stylesheet" href="/css/locations.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
    rel="stylesheet" />
</head>

<body>
  <%- include('header') %>

    <main class="locations-container">

      <h1 class="main-title">Vos Locations</h1>



      <h2 class="row-title">Locations en attente</h2>

      <div class="locations-grid">

        <div class="location-card empty">
          <p>Aucune location en attente</p>
        </div>

      </div>

      <h2 class="row-title">Locations confirmées</h2>

      <div class="locations-grid">

        <div class="card">
          <img src="img/TapisCourse1.jpeg" alt="Tapis de course" class="card-img">
          <div class="card-content">
            <h3 class="card-title">TAPIS DE COURSE CONNECTÉ RUN500 - pliage compact</h3>
            <p class="card-date">Du 09/11 au 18/11</p>
            <p class="card-price">Prix : <strong>50€</strong></p>
          </div>

          <div class="card-buttons">
            <button class="btn">Voir article</button>
            <button class="btn">Annulation</button>
          </div>
        </div>

        <div class="location-card empty">
          <p>Aucune location confirmée</p>
        </div>

      </div>

    </main>

    <%- include('footer'); %>
</body>

</html>