footer {
  position: sticky;
  margin-top: 4rem;
  width: 100%;
  background: #fd5035;
  color: #fde4e4;
  text-align: center;
  padding: 3rem 0;
  margin: 0;
  z-index: 9999;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
