body {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  background-color: #ffffff;
  height: 100%;
  margin: 0;
}

.Text-Bienvenue {
  flex: 1;
  max-width: 50%;
  padding-left: 100px;
  color: rgb(0, 0, 0);
  margin-left: -80px;
}

.index-bouton {
  display: flex;
  gap: 122px;
  margin-top: 43px;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.offre-bouton {
  padding: 10px 20px;
  background-color: #f08e88;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 30px;
  font-size: 36px;
  color: white;
}

.offre-bouton:hover {
  background-color: #ffc2c2;
}

.rectangle-index {
  padding: 20px;
  border-radius: 10px;
  margin-top: 100px;
  border: 2px solid #fc1d05;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 60px;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  transform: translateX(-33.33%);
}

.carousel-slide {
  min-width: calc(100% / 3);
  padding: 0 10px;
  box-sizing: border-box;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-button {
  position: absolute;
  bottom: 10px;
  transform: none;
  border: none;
  padding: 25px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 24px;
  color: #ffd000;
  background: none;
}

.carousel-button:hover {
  color: #ffd000;
}

.carousel-button.prev {
  left: 50px;
}

.carousel-button.next {
  right: 50px;
}


