body {
    font-family: "Montserrat", Arial, sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.15em;
    font-weight: 500;
}

.main-title {
    text-align: center;
    color: #fc593a;
    font-size: 2em;
    font-weight: bold;
    margin: 28px 0 28px 0;
}

.row-title {
    color: #fc593a;
    font-size: 2.5em;
    margin-bottom: 18px;
    padding-left: 10%;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 12px;
    padding-left: 10px 20px;
    max-width: 700px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
}

.card-img {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    margin-right: 15px;
}

.card-content {
    flex: 1;
}

.card-title {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    font-family: "Special Elite", sans-serif;
    /* style un peu vintage comme sur ton image */
}

.card-date,
.card-price {
    font-size: 14px;
    margin: 3px 0;
}

.card-buttons {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.btn {
    border: none;
    border-radius: 20px;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
    background-color: #ff5630;
    color: #fff;
}

.btn:hover {
    transform: scale(1.03);
}